* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f8f8;
}

header {
    background: #d90429;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

header .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: white;
    color: #d90429;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
}

.content {
    padding: 40px 20px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-section {
    background: #ef233c;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

form {
    max-width: 350px;
    margin: auto;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

form button {
    width: 100%;
    padding: 12px;
    background: white;
    color: #ef233c;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background: #2b2d42;
    color: white;
    margin-top: 20px;
}
